.diapo {
	position: relative;
	overflow: hidden;
}

#nav-droite,
#nav-gauche {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 3em;
}

#nav-droite {
	right: 20px;
}

#nav-gauche {
	left: 20px;
}

.elements {
	display: flex;
}
.element {
	flex: 1 0 100%;
	position: relative;
}

.element > img {
	width: 100%;
}

.caption {
	position: absolute;
	bottom: 10%;
	left: 10%;
	color: rgb(255, 253, 253);
	background-color: #005949;
	border-radius: 5px;
	opacity: 70%;
	padding: 30px;
}
